body{
  background:lightblue;
}

form label{
  display:block;
  font-size: 20px;
}


table {
background: rgb(223, 38, 38);
}

thead {
  background: rgb(255, 252, 48);
  color:rgb(0, 0, 0);
  font-weight: bold;
}

td {
  border: 1px solid rgb(128, 0, 0);
  border-color: rgb(158, 0, 0);
}

td, th {
  border: 1px solid rgb(163, 1, 1);
  border-color: rgb(163, 1, 1);
}